= stylesheet_link_tag 'java_submission_tester/help'

= content_for :title
  | Java Tester Hilfe

.row
  h1
    | Hilfe

.col-sm-12: markdown:
  ## Was ist eine JAR?

  Eine JAR ist eine Java Archive Datei, ein spezielles Format, das Klassen und Interfaces, falls gewünscht auch komprimiert, im Zip-Vormat bündelt und diese leichter übertragbar macht.
  Außerdem ist der in JARs enthaltene Code direkt ausführbar.

  Wer sich näher zum Format und dessen Funktionalitäten informieren möchte, kann das unter anderem hier tun:

    * [Java ist auch nur eine Insel](http://openbook.rheinwerk-verlag.de/javainsel9/javainsel_26_003.htm#mjf3bbdf106879ed579fef84173ca9be20)

    * [Java Documentation von Oracle](https://docs.oracle.com/javase/tutorial/deployment/jar/index.html)

  ## Wie erstelle ich eine Jar?

  [#{pages_path(:how_to_jar)}](#{image_tag 'java_submission_tester/IntelliJ_IDEA_Logo.svg'}) [IntelliJ](#{pages_path(:how_to_jar)})

  ## Was in die JAR rein muss (und was nicht)

  * In der JAR sollte, wie bereits in der Anleitung zum Erstellen einer JAR-Datei via IntelliJ beschrieben, alles was auch im src (source) Ordner des Projektes liegt enthalten sein. Also alle Klassen, Interfaces usw., die Ihr selbst geschrieben habt. Sollte für eine Abgabe mehr benötigt werden, wird dort explizit darauf hingewiesen.

  * Was nicht in die Abgabedatei gehört, sind unter anderem JUnit-Tests, da sonst die Software, die im Code nach Ähnlichkeiten (Plagiaten) such, anschlägt.

  ## Fehlermeldungen und Troubleshooting

  ### Die Fehlermeldungen

  * > Dateityp muss jar sein

  Diese Fehlermeldungen erklärt sich eigentlich von selbst.
  Die hochgeladene Datei muss die Dateiendung .jar haben, sonst funktioniert es nicht.
  Infomationen darüber, was eine JAR ist und Hilfe dazu, wie man mit IntelliJ eine JAR
   erstellt,  finden sich in der Anleitung [How to jar](#{pages_path(:how_to_jar)}).

  * > Abgabe kann nicht compiliert werden

  Diese Fehlermeldungen zeigt an, dass mit dem hochgeladenen Code etwas nicht stimmt.
  Ein Klick auf den Button **Details** zeigt an, welche Fehler der JUnit-Test geworfen hat
  und liefert Anhaltspunkte, wo nochmal geschaut werden sollte.
  *Cannot find symbol* kann zum Beispiel auf einen Schreibfehler im Namen von
  Klassen oder Variablen hindeuten, falls diese vorgegeben waren.

  * > Abgabe muss die Class Dateien enthalten

  Diese Fehlermeldungen ist ebenfalls recht eindeutig.
  Die hochgeladene JAR enthält keine .class-Dateien.
  JARs lassen sich zum Beispiel mit der Archivverwaltung öffnen, damit der Inhalt
  überprüft werden kann. Im zweifel kann im [Tutorial zu JARs](#{pages_path(:how_to_jar)})
  nochmal überprüft werden, ob beim Erstellen der Datei alle Schritte richtig gemacht wurden
  und ob der richtige Ordner rein gepackt wurde.

  * > Abgabe muss die Java Source Dateien enthalten!

  Diese Fehlermeldungen zeigt an, dass die .java Dateien in der JAR nicht enthalten sind. Der Inhalt der JAR lässt sich zum Beispiel mit der Archivverwaltung überpüfen.
  Eventuell ist es hilfreich sich das [Tutorial zu JARs](#{pages_path(:how_to_jar)}) noch einmal anzusehen und zu prüfen, ob alle Schritte richtig befolgt wurden.

  * > Datei ist Fehlerhaft! Struktur Validierung wurde mit Fehler beendet!

  Diese Fehlermeldungen zeigt an, dass etwas sehr schief gelaufen ist. Am besten wäre es die JAR-Datei nochmal neu zu bauen. Ein [Tutorial zu JARs](#{pages_path(:how_to_jar)}) gibt es auf der Hilfeseite von Dozentron. Hier ist Schritt für Schritt erklärt, wie es unter IntelliJ funktioniert.